body{
  font-family: 'poppins';
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  background-color:#292626;
  font-weight: 900;
        }
h1{
  margin-bottom: 30px;
  color: aqua;
  box-shadow: 0 0 5px aqua;
  display: block;
  padding: 0 10px;
}
  
input {
     width: 207px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    margin-left: 58px;
    text-align: right;
    display: block;
    background-color:black;
    color:white;
    border: none;
    box-shadow: 0 0 5px #66ebff;
    }
        
button {
    width: 45px;
    height: 45px;
    font-size: 16px;
    margin: 3px;
    border-radius: 10%;
    border: none;
    background-color: black;
    color:white;
    box-shadow: 0 0 5px #66ebff;
    text-transform: uppercase;
    margin: 3px;
    
   }
   


   
.operators{
  background:linear-gradient(to right ,#6bebff,#bff7ff);
  color: black ;
  box-shadow: 0 0 5px #e6fcff ;
  opacity: 9.5;
  
}

.main-operator{
  background:linear-gradient(to right,#9be2fa,white);
  color: black;
  opacity: 1;
  
}

